body {
    // for scroll-spy in order to work properly
    position: relative;
    background-color: $dark-grey-default;
}

.clearfix::after {
    content: " "; 
    display: block;
    clear: both;
}

// Helper class to center rows
.row-center {
    text-align: center;
    .col-center {
        float: none;
        margin: auto;
        display: inline-block;
    }
    img {
        display: inline-block !important;
    }
}