.section1, .section2, .section3 {
    .row {
        background-color: $dark-grey-default;
    }
}

.section1 {
    .row:first-child{
        background-image: url("/images/Home_BG.png");
        background-size: cover;
        height: 0;
        padding-top: 66.64%;
    }
    .row.welcome {
        text-align: center;
        .par {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .row.rei {
        padding-top: 20px;
    }
}
.section2 {
    .row.about {
        padding-top: 50px;
        h1 {
            @include media-query(laptop-retina) {
                margin-left: 10%;
            }
            span {
                font-weight: 100;
            }
            
        }
        
    }
    .row.bg-about {
        .img-about {
            padding-left: 0px;
            padding-right: 0px;
        }
        .vision {
            width: initial !important;
            text-align: center;
            padding-bottom: 25px;
        }
        .mission {
            text-align: center;
            padding-top: 25px;
            $bottom-vl: 130px;
            .vl-1 {
                border-left: 1px solid $orange-default;
                position: relative;
                height: 130px;
                bottom: $bottom-vl;
                right: 15px;
            }
            .vl-2 {
                border-left: 1px solid $orange-default;
                position: relative;
                height: 130px;
                bottom: $bottom-vl + 20;
                right: 15px;
            }
        }
    }
}