.section6 {
    .container-be-involved {
        .section-title {
            h1 {
                margin-left: 10%;
            }
        }
        .be-involved-box-container {
            margin-left: 11%;
            .be-involved-box {
                .box-content {
                    text-align: center;
                    margin-bottom: 10px;
                    background-color: white;
                    img {
                        max-width: 90%;
                        padding: 10px;
                        display: inline-block;
                    }
                    p {
                        color: $orange-default;
                        font-weight: bold;
                    }
                    &:hover {
                        background-color: $orange-default;
                        p {
                            color: white;
                        }
                    }
                }
            }

        }
    }
}