.section2 {
    .row.about {
        padding-top: 50px;
        h1 {
            @include media-query(laptop-retina) {
                margin-left: 10%;
            }
        }
        
    }
    .row.bg-about {
        margin-bottom: 40px;
        .img-about {
            padding-left: 0px;
            padding-right: 0px;
        }
        .vision {
            width: initial !important;
            text-align: center;
            padding-bottom: 25px;
            img {
                display: inline-block;
            }
        }
        .mission {
            text-align: center;
            padding-top: 25px;
            .divider-mission {
                display: flex;
                .col-md-4 {
                    flex: 1;
                    &:nth-child(1), &:nth-child(2) {
                        border-right: solid $orange-default 1px;
                    }
                }
            }
            
            img {
                display: inline-block;
            }
        }
    }
}