.section1 {
    .container-main-background{
        background-image: url("/images/Home_BG_reduced.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .row.welcome {
        text-align: center;
        .par {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .rei {
        padding-top: 20px;
        text-align: center;
        img {
            max-width: 40%;
            display: inline-block;
            // padding: 25px;
        }
    }
}