.section3 {
    a.prev, a.next {
        cursor: pointer;
        &:hover {
            text-decoration: none !important;
        }
    }
    .container-history {
        background-image: url("/images/History_BG.png");
        background-size: cover;
        position: relative;
        .desc-history {
            text-align: center;
            padding-bottom: 10px;
            .slide-header {
                img {
                    max-width: 30%;
                    display: inline-block;
                }
            }
            .slides-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
                .slide  {
                    display: none;
                    p {
                        min-height: 100px;
                    }
                }
                
                .glyphicon {
                    color: white !important;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .prev {
                    position: absolute;
                    top: 85%;
                    right: 85%
                }
                .next {
                    position: absolute;
                    top: 85%;
                    left: 85%;
                }
                .content-container {
                    color: white;
                    background-color: $orange-default;
                    border: 1px solid $orange-default;
                    border-radius: 5px;
                    padding: 10px 15px;
                }
            }
            @include media-query(laptop-retina) {
                padding-bottom: 0px;
            }
        }
        .interactive {
            position: absolute;
            bottom: 0px;
            .circle {
                position: absolute;
                display: inline-block;
                transition: all 1s;
                &.active, &:hover {
                    background-color: $dark-orange-default;
                }
            }
            .date {
                position: absolute;
                display: inline-block;
                color: white;
            }
        }
    }
}