.section1 {
    .container-main-background{
        background-image: url("/images/Home_BG.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .row.welcome {
        text-align: center;
        .par {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .row.rei {
        padding-top: 20px;
    }
}