.section1 {
    .container-main-background{
        img {
            min-width: 100%;
        }
    }
    .row.welcome {
        text-align: center;
        .par {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .rei {
        padding-top: 20px;
        text-align: center;
        img {
            max-width: 40%;
            display: inline-block;
            // padding: 25px;
        }
    }
}