.section6 {
    .container-be-involved {
        h1 {
            margin-left: 10%;
            margin-bottom: 25px;
        }
        .be-involved-box-container {
            margin-left: 11%;
            .be-involved-box {
                min-height: 213px;
                .box-content {
                    text-align: center;
                    margin-bottom: 10px;
                    background-color: white;
                    img {
                        max-width: 90%;
                        padding: 10px;
                        display: inline-block;
                    }
                    p {
                        color: $orange-default;
                        font-weight: bold;
                    }
                    &:hover, &.active {
                        background-color: $orange-default;
                        p {
                            color: white;
                        }
                    }
                }
            }

        }
        .be-involved-content-container {
            .volunteer, .donator, .merchandise {
                padding: 25px;
                border: 1px solid white;
                // min-height: 600px;
            }
            .involved {
                display: none;
                &.show-involved {
                    display: block;
                }
            }
            h2 {
                color: white;
                span {
                    color: $orange-default;
                }
            }
            p {
                img {
                    max-width: 2%;
                    display: inline-block;
                }
            }
            .price {
                float: right;
            }
            .background-content {
                display: inline-block;
                max-width: 60%;
                position: absolute;
                z-index: 200;
                &.volunteer-img {
                    right: 0;
                    bottom: 0%;
                }
                &.donator-img {
                    right: 0%;
                    bottom: 0;
                }
            }
            .merchandise {
                .item {
                    .item-description {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}