footer {
    h1 {
        text-align: center;
    }
    img {
        visibility: hidden;
    }
    .container-fluid {
        background-color: $dark-grey-default;
        background-image: url('/images/contact_us_BG.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .alert {
        &.alert-danger {
            li {
                text-align: left;
            }
        }
        &.alert-success {
            background-color: $orange-default;
            color: white;
            border: 0;
            a.close {
                opacity: 1;
                &:hover {
                    color: black !important;
                }
            }
        }
    }
    p.copyright {
        text-align: center;
    }

}