footer {
    h1 {
        text-align: center;
    }
    img {
        visibility: hidden;
    }
    .container-fluid {
        background-color: $dark-grey-default;
        background-image: url('/images/contact_us_BG.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    p.copyright {
        text-align: center;
    }

}