footer {
    h1 {
        text-align: center;
    }
    .container-fluid {
        background-color: $dark-grey-default;
        // background-image: url('/images/contact_us_BG.png');
        // background-size: cover;
        // background-repeat: no-repeat;
        .social {
            margin-bottom: 25px;
        }
    }
    .alert {
        &.alert-danger {
            li {
                text-align: left;
                color: #a94442;
            }
        }
        &.alert-success {
            background-color: $orange-default;
            color: white;
            border: 0;
            a.close {
                opacity: 1;
                &:hover {
                    color: black !important;
                }
            }
        }
    }
    p.copyright {
        text-align: center;
    }
    .back-to-top {
        background: none;
        margin: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 70px;
        height: 70px;
        z-index: 100;
        display: none;
        text-decoration: none;
        color: #ffffff;
        
        span.glyphicon {
            font-size: 60px;
        }
    }

}