.navbar-default {
    background-color: black;
    .navbar-nav {
        li > a {
            color: white;
            &:hover {
                color: $orange-default;
            }
        }
        .open {
            a {
                &:hover, &:focus {
                    background-color: transparent;
                    color: $orange-default;
                }
            }
        }
        .dropdown-menu {
            background-color: black;
            li > a {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    // logo section
    .logo {
        img {
            max-width: 90%;
            position: relative;
            bottom: 13px;
        }
    }
}
