.container-menu {
    padding: 10px 10px;
}
.navbar-default {
    background-color: $black-default;
    .navbar-nav {
        li > a {
            &, &:focus {
                color: white;
            }
            &:hover {
                color: $orange-default;
            }
        }
        .open {
            a {
                background-color: transparent;
                color: white;
                &:hover, &:focus {
                    background-color: transparent;
                    color: $orange-default;
                }
            }
        }
        .dropdown-menu {
            background-color: $black-default;
            li > a {
                color: white !important;
                &:hover {
                    background-color: transparent;
                }
            }
            @include media-query (laptop-retina) {
                margin-top: 10px !important;
            }
        }
    }
    // logo section
    .logo {
        img {
            max-width: 90%;
            position: relative;
            bottom: 13px;
        }
    }
}
// logo in mobile devices
.navbar-brand.visible-xs > img {
    max-width: 35%;
    position: fixed;
    top: 15px;
}