.container-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default {
    background-color: $black-default;
    margin-bottom: 0px;
    border: 0;
    border-radius: 0;
    @include media-query(laptop-retina) {
        position: fixed;
        z-index: 1000;
        top: 0;
    }
    .navbar-collapse {
        margin-top: 10px;
        @include media-query(laptop-retina) {
            margin-top: 0px;
        }
    }
    .navbar-toggle {
        border-color: $orange-default !important;
        &:focus, &:hover {
            background-color: transparent !important;
        }
        .icon-bar {
            background-color: $orange-default !important;
        }
    }
    @include media-query(ipad, both) {
        a {
            font-size: 12px !important;
        }
    }
    .navbar-nav {
        li > a {
            &, &:focus {
                color: white;
            }
            &:hover {
                color: $orange-default;
            }
        }
        .open {
            a {
                background-color: transparent;
                color: white;
                &:hover, &:focus {
                    background-color: transparent;
                    color: $orange-default;
                }
            }
        }
        .dropdown-menu {
            background-color: $black-default;
            border: 0;
            border-radius: 0;
            li > a {
                color: white;
                &:hover {
                    background-color: transparent;
                }
            }
            @include media-query (laptop-retina) {
                margin-top: 10px !important;
            }
            @include media-query (ipad, both) {
                margin-top: 10px !important;
            }
        }
    }
    // logo section
    .logo {
        @include media-query(ipad, portrait) {
            a {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        img {
            max-width: 90%;
            position: relative;
            bottom: 13px;
            @include media-query(ipad, portrait) {
                max-width: 100%;
                bottom: 8px;
            }
            @include media-query(ipad, landscape) {
                bottom: 10px;
            }
            @include media-query(ipadpro, portrait) {
                max-width: 90%;
                bottom: 10px;
            }
        }
    }
    .left-to-logo {
        @include media-query(ipad, landscape) {
            width: 33.33333333% !important;
            margin-left: 80px;
        }
        @include media-query(ipadpro, portrait) {
            width: 33.33333333% !important;
            margin-left: 80px;
        }
    }
}
// logo in mobile devices
.navbar-brand.hidden-md.hidden-sm > img {
    max-width: 35%;
    position: absolute;
    top: 15px;
    @include media-query(iphone6, landscape) {
        max-width: 20%;
    }
    @include media-query(iphone6plus, landscape) {
        max-width: 20%;
    }
}