h1, h2, h3, h4, h5, h6 {
    color: $orange-default;
}
p {
    font-family: "Avenir";
    color: white;
    margin-bottom: 20px;
}

a {
    color: inherit;
    &:hover {
        color: $orange-default;
    }
}