@font-face {
    font-family: Apercu;
    src: url('/fonts/apercu/Apercu.otf');
}

@font-face {
    font-family: Apercu-Bold;
    src: url('/fonts/Apercu/Apercu-Bold.otf');
}


h1, h2, h3, h4, h5, h6 {
    color: $orange-default;
    span {
        font-family: Apercu-Bold;
    }
}
p {
    font-family: "Avenir";
    color: white;
    margin-bottom: 20px;
}

a {
    color: inherit;
    &:hover {
        color: $orange-default !important;
        text-decoration: none;
    }
}

ul {
    li {
        color: white;
    }
}