
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Apercu", "Avenir", "Helvetica";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Custom color
$orange-default: #fc9d5d;
$black-default: #232221;
$dark-grey-default: #302d2c;

// screen-width
/* ----------- iPhone 4 and 4S ----------- */
$screen-xxxs-min: 320px;
$screen-xxxs-max: 480px;

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
$screen-xxs-min: $screen-xxxs-min;
$screen-xxs-max: 568px;

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
$screen-xs-min: 375px;
$screen-xs-max: 667px;

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
$screen-xstsm-min: 414px;
$screen-xstsm-max: 736px;

/* ----------- iPhone X ----------- */
$screen-smtmd-min: $screen-xs-min;
$screen-smtmd-max: 812px;

/* ----------- iPad 1, 2, 3, 4, Mini, Air, Pro 9.7" ----------- */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* ----------- iPad Pro 12.9" ----------- */
$screen-mdtlg-min: 1024px;
$screen-mdtlg-max: 1366px;

/* ----------- Laptops ----------- */
$screen-md-min: 1200px;
$screen-md-max: 1600px;
